* {
    font-size: 24px;
    font-family: "Helvetica";
    background-color: lightblue;
}

h1 {
    font-size: 36px;
    text-align: center;
}
h2 {
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: black;
}
p {
    font-weight: bold;
}
.recipes {
    text-align: center;
    font-size: 24px;
}
.guac {
    background-color: lightgreen;

}
.maca {
    background-color: lightyellow;
}

ul, ol {
    font-size: 20px;
}
